
/* https://www.nordtheme.com/docs/colors-and-palettes */
:root {
--nord0:  #2e3440; --nord1:  #3b4252; --nord2:  #434c5e; --nord3:  #4c566a; /* polar night */
--nord6:  #eceff4; --nord5:  #e5e9f0; --nord4:  #d8dee9; /* snow storm */
--nord7:  #8fbcbb; --nord8:  #88c0d0; --nord9:  #81a1c1; --nord10: #5e81ac; /* frost */
--nord11: #bf616a; --nord12: #d08770; --nord13: #ebcb8b; --nord14: #a3be8c; --nord15: #b48ead; /* aurora */

--left-margin: 58px; /*value left for the navigation bar*/
}



@font-face {
    font-family: "Iosevka";
    src: url("iosevka-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka";
    src: url("iosevka-bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Iosevka";
    src: url("iosevka-italic.woff2") format("woff2");
    font-style: italic;
}
    


#art {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body {
    background-color: white;
    color: var(--nord3);
    font-family: "Iosevka";
    counter-reset: section;
}

#navi{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

a:link {
    color: var(--nord10);
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--nord15);
}

#content, #postamble {
    width: 720px;
    padding-left: calc(+1px + var(--left-margin));
    margin:auto;
}

#postamble {
    margin-top: 64px;
}

.outline-text-2, .outline-text-3 {
    position: relative;
}

pre {
    position: absolute;
    left: calc(5px + 100%);
    color: var(--nord4);
    background-color: white;
    border: none;
    box-shadow: none;
    /*bottom: calc(24px + 100%); /* 8+16 margin h2 + p */
    bottom: 50%;
    border-left: 1px dotted var(--nord3);
    padding-left: 8px;
    transform: translateY(50%);
}

nav {
    top: calc(-1*var(--left-margin));
    left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    background-color: white;
    transform-origin: bottom left;
    transform: rotate(90deg);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    z-index: 1;
    overflow-wrap: break-word;
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
}
nav a:link {
    color: var(--nord0);
    text-decoration: none;
}
nav a:visited {
    color: var(--nord0);
    text-decoration: none;
}
nav a:hover {
    color: var(--nord0);
    text-decoration: underline;
}

#vertical {
    position:fixed;
    height:100%;
    width:1px;
    background-color: var(--nord0);
    left: var(--left-margin);
    z-index: 1;
}

h2::before {
    content: "Section " counter(section, upper-roman);
    counter-increment: section;
    color: var(--nord6);
    margin-right: 8px;
    position: relative;
    float: right;
    left: -100%;
}

h1, h2 {
    color: var(--nord0);
    padding-top: 64px;
    margin-bottom: 16px;
}
    
h2 {
    counter-reset: subsection;
    text-transform: uppercase;
}

h3::before {
    content: counter(section, upper-roman) "." counter(subsection);
    counter-increment: subsection;
    text-transform: uppercase;
    color: var(--nord6);
    margin-right: 8px;
    position: relative;
    float: right;
    left: -100%;
}

h3 {
    color: var(--nord3);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* no h4, h5 */

p {
    margin-top: 8px;
    margin-bottom: 8px;
}
